/* line 1, /Users/bdarlow/Dropbox/Sites/rake-pipeline-example/assets/stylesheets/default.scss */
body {
  background-color: #dc002e;
  color: black;
}

/* line 1, /Users/bdarlow/Dropbox/Sites/rake-pipeline-example/assets/stylesheets/typography.scss */
body {
  font-family: "Lucida Grande", sans-serif;
}
